<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
    <title>Change preferences</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Basketball Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);

    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link th:href="@{/css/bootstrap-3.1.1.min.css}" rel="stylesheet" type="text/css">
    <!-- Custom Theme files -->
    <link th:href="@{/css/owl.carousel.css}" rel="stylesheet" type="text/css" media="all"/>
    <link th:href="@{/css/style.css}" rel='stylesheet' type='text/css'/>
    <script th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/move-top.js}"></script>
    <script type="text/javascript" th:src="@{/js/easing.js}"></script>
    <!--/script-->
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({scrollTop: $(this.hash).offset().top}, 900);
            });
        });
    </script>
    <style> .center {

        margin: auto;

        width: 60%;

        border: 5px solid #FFFF00;

        padding: 10px;}

    .downtown {
        background: black;
        color: whitesmoke;
        margin: auto;

        width: 60%;
        border: 5px solid ;
        border-color: black;

        padding: 10px;
        text-align: center;
    }
    </style>
</head>
<body style="width: 98%; display: inline-block">
<div th:include="fragments/headerafterlogin :: header"></div>
<form th:object="${userPref}" method="post" th:action="@{/change}" class="center" style="background: black">
    <h4 class="downtown">Team</h4>
    <div class="form-group" style="background: black; color: white; padding: 5%; columns: 2">
        <div th:each="team: ${teams}">
            <div class="custom-control custom-radio custom-control-inline" style="background: black">
                <input type="radio" th:field="*{favTeamId}" th:value="${team.id}" class="custom-control-input">
                <label class="custom-control-label" th:for="${#ids.prev('favTeamId')}"
                       th:text="${team.name}">model</label>
            </div>
        </div>
    </div>
    <button style="padding: 15px; background: darkblue; color: whitesmoke; border-radius: 34%; border-color: black"  type="submit">Choose</button>
</form>

<form th:object="${userPrefPlayer}" method="post" th:action="@{/change}" class="center" style="background: black">
    <h4 class="downtown">Players</h4>
    <div class="form-group"
         style="background: black; color: white; padding: 5%; columns: 2">

        <div th:each="player: ${players}">
            <div class="custom-control custom-radio custom-control-inline" style="columns: auto">
                <input type="radio" th:field="*{favPlayerId}" th:value="${player.id}" class="custom-control-input">
                <label class="custom-control-label" th:for="${#ids.prev('favPlayerId')}"
                       th:text="${player.firstName} + ' ' + ${player.lastName}">model</label>
            </div>
        </div>
    </div>
    <button type="submit" style="padding: 15px; background: darkblue; color: whitesmoke; border-radius: 34%;border-color: black" >Choose</button>
</form>

</body>
</html>